*,
*:after,
*:before {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
#heading {
  cursor: default;
  color: #e91e63;
  text-shadow: 0 2px 5px rgba(0,0,0,0.2);
  font-size: 2.8rem;
  text-align: center;
  margin: 1.5rem;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#heading span {
  color: #212121;
}
#image-container {
  left: 50vw;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  max-width: 40rem;
  height: 30rem;
  margin: 0;
  padding: 0;
  border: solid 0.4rem #212121;
  border-radius: 0.8rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#image-container #image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  overflow: hidden;
}
#image-container #image-wrapper #image {
  background: #000 center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#image-container.clicked #image-wrapper #image {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
#restart-button {
  cursor: pointer;
  font-size: 2.4rem;
  background-color: #e91e63;
  color: #fce4ec;
  padding: 0;
  margin: 0;
  border-radius: 50%;
  border: solid 0.2rem #e91e63;
  position: absolute;
  top: 100%;
  left: 100%;
  width: 4.4rem;
  height: 4.4rem;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 2;
}
#restart-button:before {
  display: inline-block;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: 49% 53%;
  -moz-transform-origin: 49% 53%;
  -o-transform-origin: 49% 53%;
  -ms-transform-origin: 49% 53%;
  transform-origin: 49% 53%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
  -moz-transform: translate(-50%, -50%) rotate(0deg);
  -o-transform: translate(-50%, -50%) rotate(0deg);
  -ms-transform: translate(-50%, -50%) rotate(0deg);
  transform: translate(-50%, -50%) rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#restart-button.loading {
  cursor: default;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  border: solid 0.2rem #fff;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#restart-button.loading:before {
  -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
  -moz-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
  -o-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
  -ms-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
  transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-animation: restart-button-loading-animation 0.7s infinite linear;
  -moz-animation: restart-button-loading-animation 0.7s infinite linear;
  -o-animation: restart-button-loading-animation 0.7s infinite linear;
  -ms-animation: restart-button-loading-animation 0.7s infinite linear;
  animation: restart-button-loading-animation 0.7s infinite linear;
}
#restart-button #loading-percentage {
  position: absolute;
  bottom: 1rem;
  left: 0;
  width: 100%;
  height: auto;
  text-align: center;
  color: #101010;
  font-family: Roboto, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 3;
}
#restart-button #loading-percentage.show {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
#restart-button:not(.loading):hover {
  color: #fff;
  -webkit-transform: translate(-50%, -50%) scale(1.2);
  -moz-transform: translate(-50%, -50%) scale(1.2);
  -o-transform: translate(-50%, -50%) scale(1.2);
  -ms-transform: translate(-50%, -50%) scale(1.2);
  transform: translate(-50%, -50%) scale(1.2);
  -webkit-box-shadow: 0 0.75rem 1.25rem rgba(0,0,0,0.4);
  box-shadow: 0 0.75rem 1.25rem rgba(0,0,0,0.4);
}
#restart-button:not(.loading):hover:before {
  -webkit-transform: translate(-50%, -50%) rotate(360deg);
  -moz-transform: translate(-50%, -50%) rotate(360deg);
  -o-transform: translate(-50%, -50%) rotate(360deg);
  -ms-transform: translate(-50%, -50%) rotate(360deg);
  transform: translate(-50%, -50%) rotate(360deg);
}
#restart-button:not(.loading):active {
  background-color: #c2185b;
  -webkit-transform: translate(-50%, -50%) scale(1.1);
  -moz-transform: translate(-50%, -50%) scale(1.1);
  -o-transform: translate(-50%, -50%) scale(1.1);
  -ms-transform: translate(-50%, -50%) scale(1.1);
  transform: translate(-50%, -50%) scale(1.1);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
}
#restart-button:not(.loading):active:before {
  -webkit-transform: translate(-50%, -50%) rotate(720deg);
  -moz-transform: translate(-50%, -50%) rotate(720deg);
  -o-transform: translate(-50%, -50%) rotate(720deg);
  -ms-transform: translate(-50%, -50%) rotate(720deg);
  transform: translate(-50%, -50%) rotate(720deg);
}
#click-count {
  cursor: default;
  font-size: 1.8rem;
  font-weight: 400;
  background-color: #212121;
  color: #e0e0e0;
  padding: 1rem 1.5rem;
  border-radius: 0 1rem 0 1rem;
  position: absolute;
  bottom: -0.4rem;
  left: -0.4rem;
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  z-index: 1;
}
#click-count.image-clicked {
  font-weight: 800;
  color: #fff;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
@-moz-keyframes restart-button-loading-animation {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -moz-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -o-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -ms-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -moz-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -o-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -ms-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
  }
}
@-webkit-keyframes restart-button-loading-animation {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -moz-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -o-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -ms-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -moz-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -o-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -ms-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
  }
}
@-o-keyframes restart-button-loading-animation {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -moz-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -o-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -ms-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -moz-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -o-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -ms-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
  }
}
@keyframes restart-button-loading-animation {
  from {
    -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -moz-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -o-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    -ms-transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
    transform: translate(-50%, -50%) scale(1.5) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -moz-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -o-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    -ms-transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
    transform: translate(-50%, -50%) scale(1.5) rotate(360deg);
  }
}
